.inputContainer {
  margin-bottom: 15px;
  /* flex-grow: 1; */
  flex: 1;
  flex-basis: 0;
  width: 100%;
}

.flexDouble {
  flex: 2.16;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 11px;
}

.input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.inputFlex {
  position: relative;
}

.inputDouble {
  position: relative;
  flex: 2;
}

.inputField {
  padding-right: 30px;
}

.inputIcon {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
  border-left: #ccc 1px solid;
}

.superscript {
  font-size: 0.75em;
  vertical-align: super;
  color: red;
}
